redirect /tonigy10.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy11.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy12.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy13.zip http://www.tonigy.com/tonigy16.zip
redirect /to13upd1.zip http://www.tonigy.com/tonigy16.zip
redirect /to13upd2.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy14.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy15.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy15.wpi http://www.tonigy.com/tonigy16.zip
