redirect /tonigy/contact.html http://www.tonigy.com/contact.html
redirect /tonigy/download.html http://www.tonigy.com/download.html
redirect /tonigy/faq.html http://www.tonigy.com/faq.html
redirect /tonigy/history.html http://www.tonigy.com/history.html
redirect /tonigy/index.html http://www.tonigy.com/index.html
redirect /tonigy/license_russia.html http://www.tonigy.com/license_russia.html
redirect /tonigy/links.html http://www.tonigy.com/links.html
redirect /tonigy/list.html http://www.tonigy.com/list.html
redirect /tonigy/register.html http://www.tonigy.com/register.html
redirect /tonigy/register_russia.html http://www.tonigy.com/register_russia.html
redirect /tonigy/screens.html http://www.tonigy.com/screens.html
redirect /tonigy/sent.html http://www.tonigy.com/sent.html
redirect /tonigy/tonigy10.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy/tonigy11.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy/tonigy12.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy/tonigy13.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy/to13upd1.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy/to13upd2.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy/tonigy14.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy/tonigy15.zip http://www.tonigy.com/tonigy16.zip
redirect /tonigy/tonigy15.wpi http://www.tonigy.com/tonigy16.wpi
redirect /tonigy/jjscdrom.zip http://www.tonigy.com/jjscdrom.zip
redirect /tonigy/os2cdrom.zip http://www.tonigy.com/os2cdrom.zip

